@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply cursor-pointer font-semibold text-sm text-white hover:underline
  }
  .server__img {
    width: 44px;
    height: 44px;


  }
  .server__default {
    @apply bg-discord__background rounded-full flex justify-center items-center cursor-pointer hover:rounded-2xl transition-all duration-100 ease-in-out;
   width: 44px;
    height: 44px;

  }  

  .discord__img {
    width: 24px;
  }
}

html, body {
  height: 100%;
}


